<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>oriB.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{129,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,26}}</string>
                <key>sourceSize</key>
                <string>{129,26}</string>
            </dict>
            <key>oriBL.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{31,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,26}}</string>
                <key>sourceSize</key>
                <string>{31,26}</string>
            </dict>
            <key>oriBR.png</key>
            <dict>
                <key>frame</key>
                <string>{{35,2},{35,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,26}}</string>
                <key>sourceSize</key>
                <string>{35,26}</string>
            </dict>
            <key>oriC.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,31},{129,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,78}}</string>
                <key>sourceSize</key>
                <string>{129,78}</string>
            </dict>
            <key>oriL.png</key>
            <dict>
                <key>frame</key>
                <string>{{39,31},{31,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,78}}</string>
                <key>sourceSize</key>
                <string>{31,78}</string>
            </dict>
            <key>oriR.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,31},{35,78}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,78}}</string>
                <key>sourceSize</key>
                <string>{35,78}</string>
            </dict>
            <key>oriT.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{129,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{129,27}}</string>
                <key>sourceSize</key>
                <string>{129,27}</string>
            </dict>
            <key>oriTL.png</key>
            <dict>
                <key>frame</key>
                <string>{{203,2},{31,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,27}}</string>
                <key>sourceSize</key>
                <string>{31,27}</string>
            </dict>
            <key>oriTR.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,31},{35,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{35,27}}</string>
                <key>sourceSize</key>
                <string>{35,27}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ori.png</string>
            <key>size</key>
            <string>{367,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6438bd05ff3aa1fd826835896ccf426:83666c6f5e2a457087c70ec6b429a764:2e520f3ce2cb3a3de8a624aa1ce694ec$</string>
            <key>textureFileName</key>
            <string>ori.png</string>
        </dict>
    </dict>
</plist>
